.env
.docker_build/
bin/
*.exe
vendor/
*.old.go
woto_files/
tmp_files/
labs/
*.old.go
*.old.c
*.db
*.log

# ignore debug binary file
__debug_bin
botBinary
downloads/

# ignore config file
config.ini
*.token